/* Estilo general */
body {
  margin: 0 auto;
  padding: 60 px 20 px;
  box-sizing: border-box;
  background: #fbe7c6; /* Fondo claro */
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Evita desplazamiento horizontal */
  text-align: justify;
}

/* Primera sección: Pizza giratoria */
.contenedor-pizza {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background: #fbe7c6; /* Fondo claro */
  position: relative;
}

.pizza {
  animation: girar 10s linear infinite; /* Rotación infinita */
  width: 80vmin; /* Asegura que la pizza sea proporcional a la pantalla */
  height: 80vmin;
}

/* Segunda sección */
.seccion-contexto {
  width: 100%;
  background-color: #ffffff; /* Fondo blanco */
  padding: 40px 0; /* Espaciado mayor para texto */
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1); /* Separación visual entre secciones */
  display: flex;
  justify-content: center;
}

.contenido-seccion {
  max-width: 800px; /* Limitar el ancho del contenido */
  text-align: center;
}

.titulo-seccion {
  font-size: 32px;
  font-weight: bold;
  color: #000000; /* Texto oscuro */
  margin-bottom: 20px;
}

span {
  font-size: 1em;
  color: #d62828;
  font-weight:bold;
}

.texto-autores {
  font-size: 12px;
  line-height: 1.6;
  color: #000000; /* Texto gris */
}

.texto-introducción {
  font-size: 16px;
  line-height: 1.6;
  text-align:justify;
  color: #000000; /* Texto oscuro */
}

/* Animación de la pizza */
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Porciones */
.porcion {
  fill: #f4a261;
  stroke: #f1c27d;
  stroke-width: 3;
  opacity: 0; /* Oculto inicialmente */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: scale(0.8);
}

/* Masa de la pizza */
.masa {
fill: #f7d9a7; /* Color más oscuro que el fondo, simula masa horneada */
stroke: #e0a96d; /* Borde de la masa */
stroke-width: 5;
}

.porcion.visible {
  opacity: 1;
  transform: scale(1);
}

/* Pepperonis */
.pepperoni {
  fill: #d62828;
  opacity: 0; /* Ocultos inicialmente */
  transition: opacity 0.5s ease-in-out;
}

.cuadro-texto h2 {
  font-size: 15px;
  color: #333;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulocadenasxregion {
  font-size: 28px;
  font-weight: bold;
  color: #000000; /* Texto oscuro */
  margin-bottom: 20px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: block;
}
.texto-explicacióngráficos {
  font-size: 16px;
    line-height: 1.6;
    color: #000000;
    text-align: justify;
    padding: 10px 230px;
}

/* Sección: La preferencia de los chilenos */
.seccion-preferencia {
  background-color: #f2f2f2; /* Fondo gris claro */
  display: flex;
  width: 100%;
  min-height: 100vh; /* Ocupar toda la altura de la pantalla */
  padding: 40px 0; /* Espaciado para el contenido */
  justify-content: center; /* Centrar el contenido horizontalmente */
  align-items: center; /* Centrar el contenido verticalmente */
  gap: 20px;
}

.contenido-preferencia {
  max-width: 800px;
  text-align: center; /* Centra el texto */
}

.titulo-preferencia {
  font-size: 28px;
  font-weight: bold;
  color: #000000; /* Texto oscuro */
  margin-bottom: 20px;
}

.texto-preferencia {
  font-size: 16px;
  line-height: 1.6;
  color: #000000; /* Texto gris */
  text-align: justify;
}

.podio {
  width: 80%;
  height: auto;
  margin: 0 auto; /* Centrar los gráficos */
  margin-bottom: 20px; /* Espaciado adicional debajo del grid */
  padding: 20px;
}


.contenedor-texto-imagen {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  grid-gap: 20px; /* Espacio entre columnas */
  max-width: 1200px;
  align-items: center; /* Centra verticalmente */
}

.texto-lado-izquierdo {
  padding: 20px;
  background-color: #f9f9f9; /* Fondo gris claro para el texto */
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.texto-lado-izquierdo h2 {
  font-size: 24px;
  color: #000000; /* Título oscuro */
  margin-bottom: 10px;
}

.texto-lado-izquierdo p {
  font-size: 16px;
  line-height: 1.6;
  color: #000000; /* Texto gris */
}

/* Sección: Imagen a la izquierda y texto a la derecha */
.seccion-imagen-texto {
  padding: 20px 20px;
  background-color: #f8f8f8; /* Fondo gris muy claro */
  display: flex;
  justify-content: center;
}

.contenedor-imagen-texto {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  grid-gap: 20px; /* Espacio entre columnas */
  max-width: 1200px;
  align-items: center; /* Centra verticalmente */
}

.imagen-lado-izquierdo img {
  width: 100%; /* Imagen responsiva */
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.texto-lado-derecho {
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco para el texto */
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.texto-lado-derecho h2 {
  font-size: 24px;
  color: #000000; /* Título oscuro */
  margin-bottom: 10px;
}

.texto-lado-derecho p {
  font-size: 16px;
  line-height: 1.6;
  color: #000000; /* Texto gris */
}

/* Sección: Imagen a la izquierda y texto a la derecha */
.seccion-imagen-texto {
  padding: 60px 20px;
  background-color: #f8f8f8; /* Fondo gris muy claro */
  display: flex;
  justify-content: center;
}

.contenedor-imagen-texto {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  grid-gap: 20px; /* Espacio entre columnas */
  max-width: 1200px;
  align-items: center; /* Centra verticalmente */
}

.imagen-lado-izquierdo img {
  width: 100%; /* Imagen responsiva */
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Sección: Texto a la izquierda e imagen a la derecha */
.seccion-texto-imagen {
  padding: 60px 0px;
  background-color: #ffffff; /* Fondo blanco */
  display: flex;
  justify-content: center;
}

.contenedor-texto-imagen {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  grid-gap: 20px; /* Espacio entre columnas */
  max-width: 1200px;
  align-items: center; /* Centra verticalmente */
}


.imagen-lado-derecho img {
  width: 100%; /* Imagen responsiva */
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#sushipizzahamburguesa {
  width: 80%;
  margin: 0 auto;
}

#cadenasxregión {
  width: 60%;
  margin: 0 auto;
  padding: 20px
}

#empresas {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

#graficotop5 {
  width: 40%;
  margin: 0 auto;
  padding: 20px;
}

#velocimetro {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
.explicaciongraficotop5 {
  font-size: 16px;
    line-height: 1.6;
    color: #000000;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify
}

#tranding {
*,
*::before,
*::after {
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background: #f4d805;
    color: #000000;
    padding: 20px;
}

.logo {
    font-size: 4rem;
    font-weight: 700;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75rem;
    height: 10rem;
    background: #dabd07;
}
.tranding-slide .tranding-slide-img img {
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.networks {
    text-align: center;
    width: 100%;
    height: 3rem;
}

i:hover {
    cursor: pointer;
    transition: 1s;
    color: #fff;
}

.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-left {
 background-image:none;}
}

/* Estilo para la sección Los protagonistas */
.seccion-protagonistas {
  padding: 60px 0;
  background-color: #f2f2f2; /* Fondo gris claro */
  text-align: center;
}

.Papa-John´s {
  width: 30%;
  padding: 10px 0;
  background-color: #f8f8f8; /* Fondo gris claro */
  text-align: center;
}

.dominos-pizza {
  width: 30%;
  padding: 50px 0;
  background-color: #f8f8f8;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.textocomparacionratings {
  font-size: 16px;
    line-height: 1.6;
    color: #000000;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    padding: 20px;
}


.melt {
  width: 20%;
  padding: -20px 0px;
  background-color: #f8f8f8; /* Fondo gris claro */
  text-align: center;
}

/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.seccion-protagonistas h2 {
  font-size: 28px;
  margin-bottom: 40px;
  color: #000000; /* Color oscuro para el título */
}

.protagonista {
  margin-bottom: 40px; /* Espaciado entre los bloques */
}

.protagonista img {
  max-width: 100%; /* Asegura que las imágenes no excedan el contenedor */
  height: auto; /* Mantiene la proporción de las imágenes */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin-bottom: 20px; /* Espaciado entre la imagen y el texto */
}

.protagonista p {
  font-size: 16px;
  line-height: 1.6;
  color: #000000; /* Texto gris */
  max-width: 800px; /* Limita el ancho del texto para mejor legibilidad */
  margin: 0 auto; /* Centra el texto */
  text-align: justify;
}

.Gráfico-Top-5-comunas {
  width: 80%;
  height: auto;
  margin: 0 auto; /* Centrar los gráficos */
  margin-bottom: 20px; /* Espaciado adicional debajo del grid */
}

/* Estilo para la sección Top 5 comunas */
.seccion-top5 {
  padding: 60px 0;
  background-color: #ffffff; /* Fondo blanco */
  text-align: center;
}

.seccion-top5 h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #000000; /* Título en color oscuro */
}

.grafico-contenedor {
  margin: 0 auto 30px; /* Centra el gráfico y añade espaciado inferior */
  max-width: 800px; /* Limita el ancho máximo del gráfico */
}

.grafico {
  width: 100%; /* Se ajusta al ancho del contenedor */
  height: auto; /* Mantiene la proporción */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 8px; /* Bordes redondeados */
}

.texto-grafico {
  font-size: 16px;
  line-height: 1.6;
  color: #000000; /* Texto gris */
  max-width: 800px; /* Limita el ancho del texto */
  margin: 0 auto; /* Centra el texto */
  text-align: justify;
}

.texto-comparacion {
  font-size: 16px;
  line-height: 1.6;
  color: #000000; /* Texto gris */
  max-width: 800px; /* Limita el ancho del texto */
  margin: 0 auto; /* Centra el texto */
  text-align: justify;
}

#comparacionratings{
  width: 50%;
  margin: 0 auto;
}



/* Estilo para la sección Historias Top 5 comunas */
.seccion-historias {
  padding: 20px 0;
  background-color: #f5f5f5; /* Fondo gris claro */
  text-align: center;
}

.seccion-historias h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #000000; /* Título en color oscuro */
}

.texto-historias {
  font-size: 16px;
  line-height: 1.8;
  color: #000000; /* Texto gris */
  max-width: 800px; /* Limita el ancho del texto */
  margin: 0 auto; /* Centra el texto */
  text-align: justify;
}

.textovelocimetro {
  font-size: 16px;
  line-height: 1.8;
  color: #000000; /* Texto gris */
  max-width: 800px; /* Limita el ancho del texto */
  margin: 0 auto; /* Centra el texto */
  text-align: justify;
}

.Rating-PapaJohn´s {
  width: 70%;
  height: auto;
  margin: 0 auto; /* Centrar los gráficos */
  margin-bottom: 20px; /* Espaciado adicional debajo del grid */
}
.Papa-John´s-regiones {
  width: 70%;
  height: auto;
  margin: 0 auto; /* Centrar los gráficos */
  margin-bottom: 20px; /* Espaciado adicional debajo del grid */
}

.Rating-dominos {
  width: 70%;
  height: auto;
  margin: 0 auto; /* Centrar los gráficos */
  margin-bottom: 20px; /* Espaciado adicional debajo del grid */
}

.Rating-melt {
  width: 70%;
  height: auto;
  margin: 0 auto; /* Centrar los gráficos */
  margin-bottom: 20px; /* Espaciado adicional debajo del grid */
}
